# Canonical Deployments
TOKEN_ADDR=0x68af95a6f932a372e88170e9c2a46094FAeFd5D4
VOTE_ADDR=0xdB22a7D54504Cba851d2dbdC1b354B8C1B3E64D5
SEAL_ADDR=0x6F5ec4A3Ff18647105cd42754846c86E3cDEec93

# Twitter Verification - OAUTH2 
TWITTER_CLIENT_ID=xXxXx
TWITTER_CLIENT_SECRET=xXxXx

# Next-Auth 
# see https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=xXxXx
NEXTAUTH_URL=http://localhost:3000


# Private Key for Minting NFTs After Twitter Verification
# Must start with 0x
PRIVATE_KEY=0xxXxXx