# Canonical Deployments
NEXT_PUBLIC_TOKEN_ADDR=0x642c7dDcE8dD6EC6646340a16F331eCBDCeD5ff9
NEXT_PUBLIC_VOTE_ADDR=0xa487c8Fe4066872356b1668b1f5AC22C22E7E5a4
NEXT_PUBLIC_SEAL_ADDR=0xca157B9850403859A06CA65484327405fAbcE271

# Twitter Verification - OAUTH2 
TWITTER_CLIENT_ID=xXxXx
TWITTER_CLIENT_SECRET=xXxXx

# Next-Auth 
# see https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=xXxXx
NEXTAUTH_URL=http://localhost:3000


# Private Key for Minting NFTs After Twitter Verification
# Must start with 0x
PRIVATE_KEY=0xxXxXx