@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "daobi";
    src: url("/font/daobi_font.ttf");
  }
  body {
    @apply font-sans;
    /* light mode */
    @apply text-black bg-gradient-to-bl from-stone-50 to-stone-300;
    /* dark mode */
    @apply dark:text-gray-200 dark:bg-gradient-to-br dark:from-[#121212] dark:to-[#0A0A0A] dark:bg-opacity-90;
  }

  nav {
    @apply bg-white dark:bg-[#0A0A0A];
  }

  footer {
    @apply bg-stone-400 dark:bg-[#161616];
  }

  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-white dark:bg-black;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    @apply bg-stone-400 dark:bg-stone-800;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-500 bg-opacity-70;
  }

  .border-color-mode {
    @apply border-gray-300 dark:border-gray-800;
  }

  h1 {
    @apply text-xl font-black;
  }

  h2 {
    @apply text-lg font-extrabold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  a {
    @apply text-indigo-900 underline dark:text-indigo-300;
  }
}

@layer components {
  .card {
    @apply mx-auto my-4 w-full h-full rounded-xl border drop-shadow-lg border-color-mode bg-stone-200 dark:bg-stone-900;
  }
}

@layer utilities {
  .card button {
    @apply text-black bg-green-200 rounded-lg dark:bg-green-800 dark:text-gray-100;
  }

  .card button:disabled {
    @apply !bg-red-500 dark:!opacity-75 cursor-not-allowed;
  }

  .card input {
    @apply text-black outline-none focus:outline-none dark:bg-stone-200;
  }

  .border-ready {
    @apply !border-green-300 !border-opacity-50 dark:!border-green-800;
  }

  .border-error {
    @apply !border-red-300 !border-opacity-50 dark:!border-red-800;
  }
}
